// COLORS
$primary-color: #007acc;
$secondary-color: #398dc6;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: rgb(19, 19, 19);

$dark-grey: #0e0e0e;

$dark-blue-text: #ffffff; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
